body
{
 text-align: center;
 color: rgba(18, 0, 0, 452);
 background-color: rgb(245, 238, 176);
 border: inset;
 border-color: Purple;
}
h1
{
 border: inset;
 border-color: rgb(42, 165, 118);
}
p
{
 text-decoration: none;
 font-family: "Times New Roman", Times, serif;
 font-style: oblique;
 font-size: xx-large;
 padding: 10px;
}
